[submodule "platform/chip"]
	path = platform/chip
	url = git@github.com:FeatherCore/FeatherChip.git
[submodule "platform/arch"]
	path = platform/arch
	url = git@github.com:FeatherCore/FeatherArch.git
[submodule "platform/board"]
	path = platform/board
	url = git@github.com:FeatherCore/FeatherBoard.git
[submodule "kernel"]
	path = kernel
	url = git@github.com:FeatherCore/FeatherCore.git
